{% extends 'base.html.twig' %}

{% block title %}Fiche de l'entreprise {{ entreprise.nom }}{% endblock %}

{% block body %}
<h1 class="h2">{{ entreprise.nom}}</h1>
<p>{{ entreprise.description | raw }}</p>
<p>{{ entreprise.leader }}</p>
{% endblock %}
