{% extends 'base.html.twig' %}

{% block title %}Liste des entrepreneurs
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">Fiche entreprise</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.firstName }}</th>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.entreprise.nom }}</td>
                        <td><a href="{{ path("entreprise_show", {slug : user.entreprise.slug })}}">Fiche</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
